# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/server/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/client/.next

# production
/build
/server/build

# misc
.DS_Store
*.pem

# Docker-related files
/client/Dockerfile
/server/Dockerfile

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
/client/.env
/server/.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/client/next-env.d.ts

# Tailwind CSS
/client/tailwind.config.ts

# PostCSS
/client/postcss.config.mjs
